* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-box {
    background-color: rgba(207, 202, 202, 0.201);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.flex {
    display: flex;
    /* justify-content: space-evenly; */

}


#IMG {
    width: 150px;
    width: 100px;
}

a {
    text-decoration: none;
}


.Home {
    width: 100px;
    height: 20px;

}

.About {
    width: 100px;
    height: 20px;


}

.our {
    width: 100px;
    height: 20px;


}

.Contact {
    width: 100px;
    height: 20px;



}



.font-col {
    color: black;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-e; */
    /* position: absolute; */
    /* margin-left: 1000px; */
}

.box1 {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 12px 24px;
    /* position: relative; */
}

.box1:hover {
    background-color: rgba(0, 0, 255, 0.87);
    color: white;
    cursor: pointer;
}

.box2 {
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 12px 24px;
}

.box2:hover {
    background-color: rgba(0, 0, 255, 0.557);
    color: white;
}

.box3 {
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 12px 24px;
}

.box3:hover {
    background-color: rgba(0, 0, 255, 0.557);
    color: white;
}

.IMG{
    width: 100vw;
    height: 700px;
}

/* .containter1 {
    /* background-image: url(Inventory.jpg); */
    /* position: relative; */


/* } */ 

/* .box1-tex {
    /* width: 40% ; */

    /* width: 100vw;
    height: 100vh;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-style: italic;
    color: wheat; */

/* } */ */

.box1-tex img {
    width: 100% ;
    /* background-image: url(Inventory.jpg); */
    /* /* width: 100vw; */
    height: 100vh;
    opacity: calc(200px); 
    position: relative;
}

.box1-tex p {
    font-size: 90px;
    color: rgba(188, 18, 18, 0.97);
    font-weight: bolder;
    text-align: center;
    padding: 60px;
    margin-top: 400px;
    z-index: 20px;

}

/* .container{
    width: 80vw;
    margin: auto;
 
} */

.Contact1{
    text-align: center;
}



body{
    /* background-color: rgba(128, 128, 128, 0.537); */
}
.container{
    margin-left: 30%;
    margin-top: 10%;
    box-shadow: 0 2px 3px 3px  rgba(0, 0, 0, 0.717);
   width: 500px;
   height: 600px;
   text-align: center;
   position: absolute;
   top: 100px;
   background-color:rgba(32, 131, 35, 0.824);
  
    
}
.container h1{
    margin-right: 20%;
    color: blue;
    margin-left: 150px;

    /* text-align: center; */
}

/* .logo-size{
    width: 120px;
    /* margin-left: 140px; */
/* } */ 
.input{
    width: 400px;
    height: 40px;
    border-radius: 7px;
    margin-top: 10px;
}

.submit{
    width: 360px;
    height: 39px;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.594);
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.submit:hover{
    width: 120px;
    height: 39px;
    border-radius: 50px;
    background-color:white;
    color:blue;
    font-size: 16px;
    cursor: pointer;
}
.label{
    margin-right: 355px;
}
.label1{
    margin-right: 290px;
}
.label2{
    margin-right: 310px;
}

.container1{
    width: 400px;
    height: 440px;
    background-color: rgba(42, 143, 40, 0.815);
    margin:10%;
    text-align: center;
    
    /* text-align: center; */
    position: absolute;
    top: 100px;
    border-radius: 20px;
    
}

.input{
    width: 300px;
    height: 35px;
}

.logo-size{
    width: 120px;
    /* margin-left: 20%; */
    
}
/* a{
    text-decoration: none;
} */

.container1 h1{
         /* margin-left: 30%; */
         color: rgba(0, 0, 255, 0.765);
} 
.container1 a{
        text-align: center;
        color:black;
        font-weight: 500px;
} 

.button {
    width: 300;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 130px;
}
.button a {
    text-decoration: none;
    color: #fff;
}